@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin moveAround(){
  animation: mymove 5s infinite;
  -webkit-animation: mymove 5s 20ms;
}

@keyframes mymove {
  50% {border:15px solid green;}
}
